Source: axom
Version: develop
Description: Host-config generator for Axom TPLs
Build-Depends: hdf5, conduit, mfem
Default-Features: hdf5, conduit, mfem

Feature: mfem
Description: Adds basic (serial) mfem support to Axom
Build-Depends: mfem
