# Copyright (c) 2017-2021, Lawrence Livermore National Security, LLC and
# other Axom Project Developers. See the top-level LICENSE file for details.
#
# SPDX-License-Identifier: (BSD-3-Clause)

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  PROJECT_ALLOC_NAME: ${CI_PROJECT_NAME}_ci_${CI_PIPELINE_ID}
  BUILD_ROOT: ${CI_PROJECT_DIR}
  SLURM_ACCOUNT: -p pdebug
  LSF_ACCOUNT: -q pdebug

stages:
  - l_build
  - l_build_with_deps
  - r_allocate_resources
  - r_build
  - r_build_with_deps
  - r_build_devtools
  - r_release_resources

.pr_workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH != "main" && $CI_COMMIT_BRANCH != "develop" && $BUILD_DEPS != "ON"' #run only if ...

.main_workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" || $BUILD_DEPS == "ON"' #run only if ...

####
# Template
.srun_build_script:
  script:
    #Use pre-existing allocation if any
    - JOBID=$(squeue -h --name=${PROJECT_ALLOC_NAME} --format=%A)
    - ASSIGN_ID=$(if [[ -n "${JOBID}" ]]; then echo "--jobid=${JOBID}"; fi)
    - EXEC_PREFIX="srun ${SLURM_ACCOUNT} ${ASSIGN_ID}"
   #BUILD + TEST
    - RESOURCES="-t 30 -N 1"
    - echo -e "section_start:$(date +%s):build_and_test\r\e[0K
      Build and test ${CI_PROJECT_NAME}"
    - ${EXEC_PREFIX} ${RESOURCES} scripts/llnl_scripts/build_src.py -v --host-config ${HOST_CONFIG}
    - echo -e "section_end:$(date +%s):build_and_test\r\e[0K"
  artifacts:
    paths:
      - _axom_build_and_test_*/output.log*.txt
      - _axom_build_and_test_*/build-*/output.log*.txt
    reports:
      junit: _axom_build_and_test_*/build-*/junit.xml

.srun_build_with_deps_script:
  script:
    - EXEC_PREFIX="srun ${SLURM_ACCOUNT}"
    #DEPENDENCIES
    - RESOURCES="-t 45 -N 1"
    - echo -e "section_start:$(date +%s):dependencies\r\e[0K
      Build dependencies and generate host-config file (uberenv)"
    - ${EXEC_PREFIX} ${RESOURCES} scripts/llnl_scripts/build_tpls.py -v --spec=${SPEC} --directory=${CI_BUILDS_DIR}/axom_tpls/${CI_RUNNER_ID} --mirror=${CI_BUILDS_DIR}/axom_tpls
    - echo -e "section_end:$(date +%s):dependencies\r\e[0K"
    #BUILD + TEST
    - RESOURCES="-t 30 -N 1"
    - echo -e "section_start:$(date +%s):build_and_test\r\e[0K
      Build and test ${CI_PROJECT_NAME}"
    # Autodetects host-config created by build_tpls
    - ${EXEC_PREFIX} ${RESOURCES} scripts/llnl_scripts/build_src.py -v --automation
    - echo -e "section_end:$(date +%s):build_and_test\r\e[0K"
  artifacts:
    paths:
      - _axom_build_and_test_*/output.log*.txt
      - _axom_build_and_test_*/build-*/output.log*.txt
    reports:
      junit: _axom_build_and_test_*/build-*/junit.xml

.build_blueos_3_ppc64le_ib_p9_script:
  script:
    #BUILD + TEST
    - echo -e "section_start:$(date +%s):build_and_test\r\e[0K
      Build and test ${CI_PROJECT_NAME}"
    - lalloc 1 -W 25 ${LSF_ACCOUNT} scripts/llnl_scripts/build_src.py -v --host-config ${HOST_CONFIG} --extra-cmake-options -DENABLE_DOCS=OFF
    - echo -e "section_end:$(date +%s):build_and_test\r\e[0K"
  artifacts:
    paths:
      - _axom_build_and_test_*/output.log*.txt
      - _axom_build_and_test_*/build-*/output.log*.txt
    reports:
      junit: _axom_build_and_test_*/build-*/junit.xml

.build_with_deps_blueos_3_ppc64le_ib_p9_script:
  script:
    #DEPENDENCIES
    - echo -e "section_start:$(date +%s):dependencies\r\e[0K
      Build dependencies and generate host-config file (uberenv)"
    - lalloc 1 -W 45 ${LSF_ACCOUNT} scripts/llnl_scripts/build_tpls.py -v --spec="${SPEC} ${EXTRA_SPEC}" --directory=${CI_BUILDS_DIR}/axom_tpls/${CI_RUNNER_ID} --mirror=${CI_BUILDS_DIR}/axom_tpls
    - echo -e "section_end:$(date +%s):dependencies\r\e[0K"
    #BUILD + TEST
    - echo -e "section_start:$(date +%s):build_and_test\r\e[0K
      Build and test ${CI_PROJECT_NAME}"
    # Autodetects host-config created by build_tpls
    - lalloc 1 -W 25 ${LSF_ACCOUNT} scripts/llnl_scripts/build_src.py -v --automation
    - echo -e "section_end:$(date +%s):build_and_test\r\e[0K"
  artifacts:
    paths:
      - _axom_build_and_test_*/output.log*.txt
      - _axom_build_and_test_*/build-*/output.log*.txt
    reports:
      junit: _axom_build_and_test_*/build-*/junit.xml

# This is where jobs are included
include:
  - local: .gitlab/build_rzgenie.yml
  - local: .gitlab/build_rzansel.yml

