# Copyright (c) 2017-2024, Lawrence Livermore National Security, LLC and
# other Axom Project Developers. See the top-level LICENSE file for details.
#
# SPDX-License-Identifier: (BSD-3-Clause)

variables:
  LLNL_SERVICE_USER: atk
  GIT_SUBMODULE_STRATEGY: recursive
  BUILD_ROOT: ${CI_PROJECT_DIR}
  FULL_BUILD_ROOT: ${CI_BUILDS_DIR}/axom/${CI_JOB_NAME}
  SLURM_OVERLAP: 1

.src_workflow:
  rules:
    - if: '$FULL_BUILD != "ON"'

.full_workflow:
  rules:
    - if: '$FULL_BUILD == "ON"'

####
# Template
.src_build_script:
  script:
    - echo -e "\e[0Ksection_start:$(date +%s):src_build_and_test\r\e[0KSource Build and Test ${CI_PROJECT_NAME}"
    - ${ALLOC_COMMAND} python3 scripts/llnl_scripts/build_src.py -v --host-config ${HOST_CONFIG} --extra-cmake-options '-DENABLE_DOCS=OFF ${EXTRA_CMAKE_OPTIONS}' --build-type ${BUILD_TYPE:-Debug} ${EXTRA_OPTIONS}
    - echo -e "\e[0Ksection_end:$(date +%s):src_build_and_test\r\e[0K"
  artifacts:
    expire_in: 2 weeks
    paths:
      - _axom_build_and_test_*/output.log*.txt
      - _axom_build_and_test_*/build-*/output.log*.txt
    reports:
      junit: _axom_build_and_test_*/build-*/junit.xml

.full_build_script:
  script:
    - echo -e "\e[0Ksection_start:$(date +%s):full_build_and_test\r\e[0KFull Build and Test ${CI_PROJECT_NAME}"
    - ${ALLOC_COMMAND} python3 scripts/llnl_scripts/build_tpls.py -v --spec="${SPEC} ${EXTRA_SPEC}" --directory=${FULL_BUILD_ROOT}
    - echo -e "\e[0Ksection_end:$(date +%s):full_build_and_test\r\e[0K"
  artifacts:
    expire_in: 2 weeks
    paths:
      - ${FULL_BUILD_ROOT}/${SYS_TYPE}/*/_axom_build_and_test_*/output.log*.txt
      - ${FULL_BUILD_ROOT}/${SYS_TYPE}/*/_axom_build_and_test_*/build-*/output.log*.txt
    reports:
      junit: ${FULL_BUILD_ROOT}/${SYS_TYPE}/*/_axom_build_and_test_*/build-*/junit.xml

# This is where jobs are included
include:
  - local: .gitlab/build_ruby.yml
  - local: .gitlab/build_lassen.yml
  - local: .gitlab/build_tioga.yml
  # ID token requirement for Gitlab 17.0+
  - project: 'lc-templates/id_tokens'
    file: 'id_tokens.yml'
