[submodule "src/blt"]
	path = src/cmake/blt
	url = https://github.com/LLNL/blt.git
[submodule "axom_data"]
	path = data
	url = https://github.com/LLNL/axom_data.git
[submodule "scripts/uberenv"]
	path = scripts/uberenv
	url = https://github.com/LLNL/uberenv.git
[submodule "scripts/spack_repo/llnl_radiuss"]
	path = scripts/spack_repo/llnl_radiuss
	url = https://github.com/LLNL/radiuss-spack-configs.git
