#
# Copyright (c) 2017-2019, Lawrence Livermore National Security, LLC and
# other Axom Project Developers. See the top-level COPYRIGHT file for details.
#
# SPDX-License-Identifier: (BSD-3-Clause)
#

variables:
  DO_BUILD: 'yes'
  DO_TEST: 'yes'

strategy:
  matrix:
    linux_gcc6:
      VM_ImageName: 'ubuntu-16.04'
      Compiler_ImageName: 'axom/compilers:gcc-6'
      CMAKE_EXTRA_FLAGS: '-DAXOM_ENABLE_SIDRE=Off'
      COMPILER: 'g++'
      TEST_TARGET: 'linux_gcc6'
    linux_gcc6_debug:
      VM_ImageName: 'ubuntu-16.04'
      Compiler_ImageName: 'axom/compilers:gcc-6'
      CMAKE_EXTRA_FLAGS: '-DCMAKE_BUILD_TYPE=Debug -DAXOM_ENABLE_SIDRE=Off'
      COMPILER: 'g++'
      TEST_TARGET: 'linux_gcc6_debug'
    linux_gcc7:
      VM_ImageName: 'ubuntu-16.04'
      Compiler_ImageName: 'axom/compilers:gcc-7'
      CMAKE_EXTRA_FLAGS: '-DAXOM_ENABLE_SIDRE=Off'
      COMPILER: 'g++'
      TEST_TARGET: 'linux_gcc7'
    linux_clang4:
      VM_ImageName: 'ubuntu-16.04'
      Compiler_ImageName: 'axom/compilers:clang-4'
      CMAKE_EXTRA_FLAGS: '-DAXOM_ENABLE_SIDRE=Off'
      COMPILER: 'clang++'
      TEST_TARGET: 'linux_clang4'
    linux_clang6:
      VM_ImageName: 'ubuntu-16.04'
      Compiler_ImageName: 'axom/compilers:clang-6'
      CMAKE_EXTRA_FLAGS: '-DAXOM_ENABLE_SIDRE=Off'
      COMPILER: 'clang++'
      TEST_TARGET: 'linux_clang6'

pool:
  vmImage: $(VM_ImageName)

steps:
- checkout: self
  clean: boolean
  submodules: recursive
- script:  |
   docker run --rm --user='root' -v `pwd`:/home/axom $(Compiler_ImageName) chown -R axom /home/axom
   docker run --rm  -v `pwd`:/home/axom -e TEST_TARGET -e COMPILER -e DO_BUILD -e DO_TEST -e CMAKE_EXTRA_FLAGS $(Compiler_ImageName) ./scripts/azure-pipelines/linux-build_and_test.sh
  condition: eq( variables['Agent.OS'], 'Linux')
  displayName: '$(TEST_TARGET) Build & Test'
- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'cTest'
    testResultsFiles: '**/Test.xml'
    testRunTitle: '$(TEST_TARGET) Tests'
