#
# Copyright (c) 2017-2024, Lawrence Livermore National Security, LLC and
# other Axom Project Developers. See the top-level LICENSE file for details.
#
# SPDX-License-Identifier: (BSD-3-Clause)
#

variables:
  DO_BUILD: 'yes'
  DO_TEST: 'yes'
  DO_CLEAN: 'no'
  CLANG14_IMAGENAME: 'axom/tpls:clang-14_07-10-24_20h-47m'
  GCC13_IMAGENAME: 'axom/tpls:gcc-13_07-10-24_20h-47m'
  system.debug: false

jobs:
- job: Build_and_Test

  strategy:
    matrix:
      linux_gcc13:
        VM_ImageName: 'ubuntu-22.04'
        Compiler_ImageName: '$(GCC13_IMAGENAME)'
        CMAKE_EXTRA_FLAGS: '-DBUILD_SHARED_LIBS=ON -DAXOM_ENABLE_MFEM_SIDRE_DATACOLLECTION:BOOL=ON'
        COMPILER: 'g++'
        TEST_TARGET: 'linux_gcc13'
        HOST_CONFIG: 'gcc@13.1.0'
      linux_gcc13_64bit:
        VM_ImageName: 'ubuntu-22.04'
        Compiler_ImageName: '$(GCC13_IMAGENAME)'
        CMAKE_EXTRA_FLAGS: '-DBUILD_SHARED_LIBS=ON -DAXOM_USE_64BIT_INDEXTYPE:BOOL=ON'
        COMPILER: 'g++'
        TEST_TARGET: 'linux_gcc13'
        HOST_CONFIG: 'gcc@13.1.0'
      linux_clang14:
        VM_ImageName: 'ubuntu-22.04'
        Compiler_ImageName: '$(CLANG14_IMAGENAME)'
        CMAKE_EXTRA_FLAGS: '-DBUILD_SHARED_LIBS=ON -DAXOM_QUEST_ENABLE_EXTRA_REGRESSION_TESTS:BOOL=ON'
        BUILD_TYPE: 'Release'
        COMPILER: 'clang++'
        TEST_TARGET: 'linux_clang14'
        HOST_CONFIG: 'clang@14.0.0'
      linux_clang14_noraja:
        VM_ImageName: 'ubuntu-22.04'
        Compiler_ImageName: '$(CLANG14_IMAGENAME)'
        CMAKE_EXTRA_FLAGS: '-DBUILD_SHARED_LIBS=ON -DAXOM_QUEST_ENABLE_EXTRA_REGRESSION_TESTS:BOOL=ON -U RAJA_DIR'
        BUILD_TYPE: 'Debug'
        COMPILER: 'clang++'
        TEST_TARGET: 'linux_clang14'
        HOST_CONFIG: 'clang@14.0.0'
      linux_clang14_noumpire:
        VM_ImageName: 'ubuntu-22.04'
        Compiler_ImageName: '$(CLANG14_IMAGENAME)'
        CMAKE_EXTRA_FLAGS: '-DBUILD_SHARED_LIBS=ON -DAXOM_QUEST_ENABLE_EXTRA_REGRESSION_TESTS:BOOL=ON -U UMPIRE_DIR'
        BUILD_TYPE: 'Debug'
        COMPILER: 'clang++'
        TEST_TARGET: 'linux_clang14'
        HOST_CONFIG: 'clang@14.0.0'
      linux_clang14_noraja_noumpire:
        VM_ImageName: 'ubuntu-22.04'
        Compiler_ImageName: '$(CLANG14_IMAGENAME)'
        CMAKE_EXTRA_FLAGS: '-DBUILD_SHARED_LIBS=ON -DAXOM_QUEST_ENABLE_EXTRA_REGRESSION_TESTS:BOOL=ON -U RAJA_DIR -U UMPIRE_DIR'
        BUILD_TYPE: 'Debug'
        COMPILER: 'clang++'
        TEST_TARGET: 'linux_clang14'
        HOST_CONFIG: 'clang@14.0.0'
      linux_clang14_noprofiling:
        VM_ImageName: 'ubuntu-22.04'
        Compiler_ImageName: '$(CLANG14_IMAGENAME)'
        CMAKE_EXTRA_FLAGS: '-DBUILD_SHARED_LIBS=ON -DAXOM_QUEST_ENABLE_EXTRA_REGRESSION_TESTS:BOOL=ON -U CALIPER_DIR -U ADIAK_DIR'
        BUILD_TYPE: 'Debug'
        COMPILER: 'clang++'
        TEST_TARGET: 'linux_clang14'
        HOST_CONFIG: 'clang@14.0.0'
      osx_gcc:
        VM_ImageName: 'macos-12'
        CMAKE_EXTRA_FLAGS: '-DAXOM_ENABLE_SIDRE:BOOL=OFF -DAXOM_ENABLE_INLET:BOOL=OFF -DAXOM_ENABLE_KLEE:BOOL=OFF'
        TEST_TARGET: 'osx_gcc'
      windows:
        VM_ImageName: 'windows-2019'
        CMAKE_EXTRA_FLAGS: '-DAXOM_ENABLE_SIDRE:BOOL=OFF -DAXOM_ENABLE_INLET:BOOL=OFF -DAXOM_ENABLE_KLEE:BOOL=OFF'
        TEST_TARGET: 'win_vs'

  pool:
    vmImage: $(VM_ImageName)

  steps:
  - checkout: self
    clean: true
    submodules: recursive
  - task: CMake@1
    inputs:
      workingDir: 'build'
      cmakeArgs: '$(CMAKE_EXTRA_FLAGS) ../src'
    condition: or( eq( variables['Agent.OS'], 'Windows_NT'), eq( variables['Agent.OS'], 'Darwin'))
  - task: VSBuild@1
    inputs:
      solution: 'build/*.sln'
      vsVersion: 'latest'
    condition: eq( variables['Agent.OS'], 'Windows_NT')
    displayName: 'Visual Studio Build ($(TEST_TARGET))'
  - script: |
      cd build
      ctest -C Debug -T test --output-on-failure -V
    condition: eq( variables['Agent.OS'], 'Windows_NT')
    displayName: 'Visual Studio Test ($(TEST_TARGET))'
  - script: |
      cd build
      make
    condition: eq( variables['Agent.OS'], 'Darwin')
    displayName: 'Darwin Build ($(TEST_TARGET))'
  - script: |
      cd build
      ctest -T test --output-on-failure -V
    condition: eq( variables['Agent.OS'], 'Darwin')
    displayName: 'Darwin Test ($(TEST_TARGET))'
  - script:  |
      echo " -e $TEST_TARGET -e $COMPILER -e $DO_BUILD -e $DO_TEST -e $CMAKE_EXTRA_FLAGS $(Compiler_ImageName) ./scripts/azure-pipelines/linux-build_and_test.sh"
      docker run --rm --user='root' -v `pwd`:/home/axom/axom $(Compiler_ImageName) chown -R axom /home/axom
      docker run --rm -v `pwd`:/home/axom/axom -e TEST_TARGET -e COMPILER -e DO_BUILD -e DO_TEST -e DO_CLEAN -e HOST_CONFIG -e CMAKE_EXTRA_FLAGS -e BUILD_TYPE $(Compiler_ImageName) ./axom/scripts/azure-pipelines/linux-build_and_test.sh

    condition: eq( variables['Agent.OS'], 'Linux')
    displayName: 'Linux Build & Test ($(TEST_TARGET))'
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'cTest'
      testResultsFiles: '**/Test.xml'
      testRunTitle: '$(TEST_TARGET) Tests'
      failTaskOnFailedTests: true

- job: Check_Style
  variables:
    VM_ImageName: 'ubuntu-22.04'
    Compiler_ImageName: '$(CLANG14_IMAGENAME)'
    TEST_TARGET: 'linux_clang14'
    HOST_CONFIG: 'clang@14.0.0'
    CMAKE_EXTRA_FLAGS: '-DENABLE_CLANGFORMAT=ON'
  pool:
      vmImage: $(VM_ImageName)
  steps:
  - checkout: self
    clean: true
    submodules: recursive
  - script:  |
      echo " -e HOST_CONFIG -e CMAKE_EXTRA_FLAGS $(Compiler_ImageName) ./axom/scripts/azure-pipelines/linux-check.sh"
      docker run --rm --user='root' -v `pwd`:/home/axom/axom $(Compiler_ImageName) chown -R axom /home/axom
      docker run --rm -v `pwd`:/home/axom/axom -e HOST_CONFIG -e CMAKE_EXTRA_FLAGS $(Compiler_ImageName) ./axom/scripts/azure-pipelines/linux-check.sh
    displayName: '$(TEST_TARGET) Style Check'
