# -------------------------------------------------------------------------
# This file controls default concretization preferences for Spack.
#
# Settings here are versioned with Spack and are intended to provide
# sensible defaults out of the box. Spack maintainers should edit this
# file to keep it current.
#
# Users can override these settings by editing the following files.
#
# Per-spack-instance settings (overrides defaults):
#   $SPACK_ROOT/etc/spack/packages.yaml
#
# Per-user settings (overrides default and site settings):
#   ~/.spack/packages.yaml
# -------------------------------------------------------------------------
packages:
  all:
    compiler: [gcc, intel, pgi, clang, xl, nag]
    providers:
      blas: [netlib-lapack]
      lapack: [netlib-lapack]
      mpi: [spectrum-mpi]

# LLNL blueos CUDA
  cuda:
    buildable: false
    externals:
    - spec: cuda@10.1.243
      prefix: /usr/tce/packages/cuda/cuda-10.1.243

# LLNL blueos mpi
  mpi:
    buildable: false
  spectrum-mpi:
    buildable: false
    externals:
    - spec: spectrum-mpi@release%gcc@7.3.1
      prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-gcc-7.3.1/
    - spec: spectrum-mpi@release%clang@9.0.0_upstream_xlf
      prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-clang-upstream-2019.08.15/
    - spec: spectrum-mpi@release%clang@8.0.1_nvcc_xlf
      prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-clang-8.0.1/
    - spec: spectrum-mpi@release%xl@16.1.1_coral
      prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-xl-2019.08.20/
    - spec: spectrum-mpi@release%xl@16.1.1_nvcc
      prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-xl-2019.08.20/

  # blas is a bit more complicated because its a virtual package so fake it with
  # the following per spack docs
  netlib-lapack:
    buildable: false
    externals:
    - spec: netlib-lapack@3.6.1
      prefix: /usr

# System level packages to not build
  autoconf:
    buildable: false
    externals:
    - spec: autoconf
      prefix: /usr
  automake:
    buildable: false
    externals:
    - spec: automake
      prefix: /usr
  bzip2:
    buildable: false
    externals:
    - spec: bzip2
      prefix: /usr
  cmake:
    version: [3.14.5]
    buildable: false
    externals:
    - spec: cmake
      prefix: /usr/tce/packages/cmake/cmake-3.14.5
  gettext:
    buildable: false
    externals:
    - spec: gettext
      prefix: /usr
  libtool:
    buildable: false
    externals:
    - spec: libtool
      prefix: /usr
  m4:
    buildable: false
    externals:
    - spec: m4
      prefix: /usr
  # ncurses has a bug in their 6.2 that says that getopt is not present
  # see: https://github.com/spack/spack/issues/16269
  ncurses:
    version: [6.1]
  perl:
    buildable: false
    externals:
    - spec: perl
      prefix: /usr
  pkg-config:
    buildable: false
    externals:
    - spec: pkg-config
      prefix: /usr
  tar:
    buildable: false
    externals:
    - spec: tar
      prefix: /usr

# Globally lock version of third party libraries
  conduit:
    version: [0.6.0]
    variants: ~shared
  mfem:
    version: [4.2.0]
  umpire:
    variants: ~shared

# Globally lock in versions of Devtools
  cppcheck:
    version: [1.87]
    buildable: false
    externals:
    - spec: cppcheck
      prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib/latest/cppcheck-1.87
  doxygen:
    version: [1.8.14]
    buildable: false
    externals:
    - spec: doxygen
      prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib/latest/doxygen-1.8.14
  graphviz:
    version: [2.42.2]
    buildable: false
    externals:
    - spec: graphviz
      prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib/latest/graphviz-2.42.2
  llvm:
    version: [10.0.0]
    buildable: false
    externals:
    - spec: llvm+clang
      prefix: /usr/tce/packages/clang/clang-10.0.0
  python:
    version: [3.7.7]
    buildable: false
    externals:
    - spec: python
      prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib/latest/python-3.7.7
  py-shroud:
    version: [0.12.2]
    buildable: false
    externals:
    - spec: py-shroud
      prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib/latest/python-3.7.7
  py-sphinx:
    version: [2.2.0]
    buildable: false
    externals:
    - spec: py-sphinx
      prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib/latest/python-3.7.7
