# -------------------------------------------------------------------------
# This file controls default concretization preferences for Spack.
#
# Settings here are versioned with Spack and are intended to provide
# sensible defaults out of the box. Spack maintainers should edit this
# file to keep it current.
#
# Users can override these settings by editing the following files.
#
# Per-spack-instance settings (overrides defaults):
#   $SPACK_ROOT/etc/spack/packages.yaml
#
# Per-user settings (overrides default and site settings):
#   ~/.spack/packages.yaml
# -------------------------------------------------------------------------
packages:
  all:
    compiler: [gcc, intel, pgi, clang, xl, nag]
    providers:
      blas: [netlib-lapack]
      lapack: [netlib-lapack]
      mpi: [spectrum-mpi]

# LLNL blueos CUDA
  cuda:
    buildable: false
    externals:
    - spec: cuda@11.0.2
      prefix: /usr/tce/packages/cuda/cuda-11.0.2

# LLNL blueos mpi
  mpi:
    buildable: false
  spectrum-mpi:
    buildable: false
    externals:
    - spec: spectrum-mpi@release%gcc@8.3.1
      prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-gcc-8.3.1/
    - spec: spectrum-mpi@release%clang@9.0.0
      prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-clang-upstream-2019.08.15/
    - spec: spectrum-mpi@release%clang@8.0.1
      prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-clang-8.0.1/
    - spec: spectrum-mpi@release%xl@16.1.1.11
      prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-xl-2020.08.24-cuda-11.0.2/
    - spec: spectrum-mpi@release%xl@16.1.1.12
      prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-xl-2022.03.10/

  # blas is a bit more complicated because its a virtual package so fake it with
  # the following per spack docs
  netlib-lapack:
    buildable: false
    externals:
    - spec: netlib-lapack@3.8.0 %clang@8.0.1
      prefix: /usr/tcetmp/packages/lapack/lapack-3.8.0-xl-2019.08.20/
    - spec: netlib-lapack@3.8.0 %clang@9.0.0
      prefix: /usr/tcetmp/packages/lapack/lapack-3.8.0-xl-2019.08.20/
    - spec: netlib-lapack@3.8.0 %xl@16.1.1.11
      prefix: /usr/tcetmp/packages/lapack/lapack-3.8.0-xl-2019.08.20/
    - spec: netlib-lapack@3.8.0 %xl@16.1.1.12
      prefix: /usr/tcetmp/packages/lapack/lapack-3.8.0-xl-2019.08.20/

# System level packages to not build
  autoconf:
    buildable: false
    externals:
    - spec: autoconf@2.69
      prefix: /usr
  automake:
    buildable: false
    externals:
    - spec: automake@1.13.4
      prefix: /usr
  binutils:
    buildable: false
    externals:
    - spec: binutils@2.27
      prefix: /usr
  bzip2:
    buildable: false
    externals:
    - spec: bzip2@1.0.6
      prefix: /usr
  diffutils:
    buildable: false
    externals:
    - spec: diffutils@3.3
      prefix: /usr
  elfutils:
    buildable: false
    externals:
    - spec: elfutils@0.176
      prefix: /usr
  epoxy:
    buildable: false
    externals:
    - spec: epoxy@0.0.0
      prefix: /usr
  findutils:
    buildable: false
    externals:
    - spec: findutils@4.5.11
      prefix: /usr
  gettext:
    buildable: false
    externals:
    - spec: gettext@0.19.8.1
      prefix: /usr
  ghostscript:
    buildable: false
    externals:
    - spec: ghostscript@9.25
      prefix: /usr
  groff:
    buildable: false
    externals:
    - spec: groff@1.22.2
      prefix: /usr
  libtool:
    buildable: false
    externals:
    - spec: libtool@2.4.2
      prefix: /usr
  libunwind:
    buildable: false
    externals:
    - spec: libunwind@8.0.1
      prefix: /usr
  # ncurses has a bug in their 6.2 that says that getopt is not present
  # see: https://github.com/spack/spack/issues/16269
  ncurses:
    version: [6.1]
  m4:
    buildable: false
    externals:
    - spec: m4@1.4.16
      prefix: /usr
  perl:
    buildable: false
    externals:
    - spec: perl@5.16.3
      prefix: /usr
  pkg-config:
    buildable: false
    externals:
    - spec: pkg-config@0.27.1
      prefix: /usr
  readline:
    buildable: false
    externals:
    - spec: readline@6.2
      prefix: /usr
  tar:
    externals:
    - spec: tar@1.26
      prefix: /usr
    buildable: false

# External dependencies for SCR
  lsf:
    buildable: False
    externals:
    - spec: lsf@10.1
      prefix: /opt/ibm/spectrumcomputing/lsf/10.1
  slurm:
    buildable: false
    externals:
    - spec: slurm@20
      prefix: /usr
  libyogrt:
    buildable: false
    externals:
    - spec: libyogrt@1.0.0 scheduler=lsf
      prefix: /usr
    - spec: libyogrt@1.0.0 scheduler=slurm
      prefix: /usr
  pdsh:
    buildable: false
    externals:
    - spec: pdsh@2.33
      prefix: /usr

# Globally lock version of third party libraries
  conduit:
    variants: ~shared~test
  hdf5:
    variants: ~shared~mpi
  hypre:
    version: [2.24.0]
  mfem:
    version: [4.4.0]
  raja:
    variants: ~shared~examples~exercises
  umpire:
    variants: ~shared~examples

# Globally lock in versions of Devtools
  cmake:
    version: [3.14.5]
    buildable: false
    externals:
    - spec: cmake@3.14.5
      prefix: /usr/tce/packages/cmake/cmake-3.14.5
  cppcheck:
    version: [2.8]
    buildable: false
    externals:
    - spec: cppcheck@2.8
      prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib_p9/latest/cppcheck-2.8
  doxygen:
    version: [1.8.14]
    buildable: false
    externals:
    - spec: doxygen@1.8.14
      prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib_p9/latest/doxygen-1.8.14
  graphviz:
    version: [2.49.0]
    buildable: false
    externals:
    - spec: graphviz@2.49.0
      prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib_p9/latest/graphviz-2.49.0
  llvm:
    version: [10.0.0]
    buildable: false
    externals:
    - spec: llvm@10.0.0+clang
      prefix: /usr/tce/packages/clang/clang-10.0.0
  python:
    version: [3.9.13]
    buildable: false
    externals:
    - spec: python@3.9.13
      prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib_p9/latest/python-3.9.13
  py-shroud:
    version: [0.12.2]
    buildable: false
    externals:
    - spec: py-shroud@0.12.2
      prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib_p9/latest/py-shroud-0.12.2
  py-sphinx:
    version: [5.0.2]
    buildable: false
    externals:
    - spec: py-sphinx@5.0.2
      prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib_p9/latest/py-sphinx-5.0.2
