# Copyright (c) 2017-2023, Lawrence Livermore National Security, LLC and
# Axom Project Developers. See the top-level LICENSE file for details.
#
# SPDX-License-Identifier: (BSD-3-Clause)

spack:
  config:
    install_tree:
      root: $spack/..
      projections:
        all: '{compiler.name}-{compiler.version}/{name}-{version}-{hash}'
    misc_cache: $spack/../misc_cache
    test_stage: $spack/../test_stage
    build_stage::
    - $spack/../build_stage

  # Regular TPLs do not need views
  view: false

  compilers::
  - compiler:
      environment: {}
      extra_rpaths: []
      flags: {}
      modules: []
      operating_system: rhel7
      paths:
        cc:  /usr/tce/packages/gcc/gcc-8.3.1/bin/gcc
        cxx: /usr/tce/packages/gcc/gcc-8.3.1/bin/g++
        f77: /usr/tce/packages/gcc/gcc-8.3.1/bin/gfortran
        fc:  /usr/tce/packages/gcc/gcc-8.3.1/bin/gfortran
      spec: gcc@8.3.1.1
      target: ppc64le
  - compiler:
      environment: {}
      extra_rpaths: []
      flags: {}
      modules: []
      operating_system: rhel7
      paths:
        cc:  /usr/tce/packages/gcc/gcc-8.3.1/bin/gcc
        cxx: /usr/tce/packages/gcc/gcc-8.3.1/bin/g++
        f77: /usr/tce/packages/gcc/gcc-8.3.1/bin/gfortran
        fc:  /usr/tce/packages/gcc/gcc-8.3.1/bin/gfortran
      spec: gcc@8.3.1.2
      target: ppc64le
  - compiler:
      environment: {}
      extra_rpaths: []
      flags:
        # Fix for "undefined reference to `_gfortran_transfer_integer_write'"
        ldlibs: -lgfortran
      modules: []
      operating_system: rhel7
      paths:
        cc:  /usr/tce/packages/clang/clang-ibm-10.0.1-gcc-8.3.1/bin/clang
        cxx: /usr/tce/packages/clang/clang-ibm-10.0.1-gcc-8.3.1/bin/clang++
        f77: /usr/tce/packages/gcc/gcc-8.3.1/bin/gfortran
        fc:  /usr/tce/packages/gcc/gcc-8.3.1/bin/gfortran
      spec: clang@10.0.1.1
      target: ppc64le
  - compiler:
      environment: {}
      extra_rpaths: []
      flags:
        # Fix for "undefined reference to `_gfortran_transfer_integer_write'"
        ldlibs: -lgfortran
      modules: []
      operating_system: rhel7
      paths:
        cc:  /usr/tce/packages/clang/clang-ibm-10.0.1-gcc-8.3.1/bin/clang
        cxx: /usr/tce/packages/clang/clang-ibm-10.0.1-gcc-8.3.1/bin/clang++
        f77: /usr/tce/packages/gcc/gcc-8.3.1/bin/gfortran
        fc:  /usr/tce/packages/gcc/gcc-8.3.1/bin/gfortran
      spec: clang@10.0.1.2
      target: ppc64le
  - compiler:
      environment: {}
      extra_rpaths: []
      flags:
        cflags: --gcc-toolchain=/usr/tce/packages/gcc/gcc-8.3.1
        cxxflags: --gcc-toolchain=/usr/tce/packages/gcc/gcc-8.3.1
        fflags: --gcc-toolchain=/usr/tce/packages/gcc/gcc-8.3.1
      modules: []
      operating_system: rhel7
      paths:
        cc: /usr/tce/packages/xl/xl-2022.08.19/bin/xlc
        cxx: /usr/tce/packages/xl/xl-2022.08.19/bin/xlC
        fc: /usr/tce/packages/xl/xl-2022.08.19/bin/xlf2003
        f77: /usr/tce/packages/xl/xl-2022.08.19/bin/xlf
      spec: xl@16.1.1.1
      target: ppc64le
  - compiler:
      environment: {}
      extra_rpaths: []
      flags:
        cflags: --gcc-toolchain=/usr/tce/packages/gcc/gcc-8.3.1
        cxxflags: --gcc-toolchain=/usr/tce/packages/gcc/gcc-8.3.1
        fflags: --gcc-toolchain=/usr/tce/packages/gcc/gcc-8.3.1
      modules: []
      operating_system: rhel7
      paths:
        cc: /usr/tce/packages/xl/xl-2022.08.19-cuda-11.2.0/bin/xlc
        cxx: /usr/tce/packages/xl/xl-2022.08.19-cuda-11.2.0/bin/xlC
        fc: /usr/tce/packages/xl/xl-2022.08.19-cuda-11.2.0/bin/xlf2003
        f77: /usr/tce/packages/xl/xl-2022.08.19-cuda-11.2.0/bin/xlf
      spec: xl@16.1.1.2
      target: ppc64le
  packages:
    all:
      compiler: [gcc, intel, pgi, clang, xl, nag]
      providers:
        blas: [netlib-lapack]
        lapack: [netlib-lapack]
        mpi: [spectrum-mpi]

    # LLNL blueos CUDA
    cuda:
      buildable: false
      externals:
      - spec: cuda@11.2.0
        prefix: /usr/tce/packages/cuda/cuda-11.2.0

    # LLNL blueos mpi
    mpi:
      buildable: false
    spectrum-mpi:
      buildable: false
      externals:
      - spec: spectrum-mpi@release%gcc@8.3.1.1
        prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-gcc-8.3.1/
      - spec: spectrum-mpi@release%gcc@8.3.1.2
        prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-gcc-8.3.1/
      - spec: spectrum-mpi@release%clang@10.0.1.1
        prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-clang-10.0.1-gcc-8.3.1/
      - spec: spectrum-mpi@release%clang@10.0.1.2
        prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-clang-10.0.1-gcc-8.3.1/
      - spec: spectrum-mpi@release%xl@16.1.1.1
        prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-xl-2022.08.19/
      - spec: spectrum-mpi@release%xl@16.1.1.2
        prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-xl-2022.08.19-cuda-11.2.0/

    # blas is a bit more complicated because its a virtual package so fake it with
    # the following per spack docs
    netlib-lapack:
      buildable: false
      externals:
      # These have trailing underscores in their symbols
      - spec: netlib-lapack@3.9.0%gcc@8.3.1.1
        prefix: /usr/tcetmp/packages/lapack/lapack-3.9.0-P9-gcc-7.3.1/
      - spec: netlib-lapack@3.9.0%gcc@8.3.1.2
        prefix: /usr/tcetmp/packages/lapack/lapack-3.9.0-P9-gcc-7.3.1/
      - spec: netlib-lapack@3.9.0%clang@10.0.1.1
        prefix: /usr/tcetmp/packages/lapack/lapack-3.9.0-P9-gcc-7.3.1/
      - spec: netlib-lapack@3.9.0%clang@10.0.1.2
        prefix: /usr/tcetmp/packages/lapack/lapack-3.9.0-P9-gcc-7.3.1/
      # These do not have trailing underscores in their symbols
      - spec: netlib-lapack@3.9.0%xl@16.1.1.1
        prefix: /usr/tcetmp/packages/lapack/lapack-3.9.0-P9-xl-2020.11.12/
      - spec: netlib-lapack@3.9.0%xl@16.1.1.2
        prefix: /usr/tcetmp/packages/lapack/lapack-3.9.0-P9-xl-2020.11.12/

    # System level packages to not build
    autoconf:
      buildable: false
      externals:
      - spec: autoconf@2.69
        prefix: /usr
    automake:
      buildable: false
      externals:
      - spec: automake@1.13.4
        prefix: /usr
    binutils:
      buildable: false
      externals:
      - spec: binutils@2.27
        prefix: /usr
    bzip2:
      buildable: false
      externals:
      - spec: bzip2@1.0.6
        prefix: /usr
    curl:
      buildable: false
      externals:
      - spec: curl@7.29.0
        prefix: /usr
    diffutils:
      buildable: false
      externals:
      - spec: diffutils@3.3
        prefix: /usr
    elfutils:
      buildable: false
      externals:
      - spec: elfutils@0.176
        prefix: /usr
    epoxy:
      buildable: false
      externals:
      - spec: epoxy@0.0.0
        prefix: /usr
    findutils:
      buildable: false
      externals:
      - spec: findutils@4.5.11
        prefix: /usr
    gettext:
      buildable: false
      externals:
      - spec: gettext@0.19.8.1
        prefix: /usr
    ghostscript:
      buildable: false
      externals:
      - spec: ghostscript@9.25
        prefix: /usr
    gmake:
      buildable: false
      externals:
      - spec: gmake@4.2.1
        prefix: /usr/tcetmp
    groff:
      buildable: false
      externals:
      - spec: groff@1.22.2
        prefix: /usr
    libtool:
      buildable: false
      externals:
      - spec: libtool@2.4.2
        prefix: /usr
    libunwind:
      buildable: false
      externals:
      - spec: libunwind@8.0.1
        prefix: /usr
    ncurses:
      buildable: false
      externals:
      - spec: ncurses@5.9
        prefix: /usr
    m4:
      buildable: false
      externals:
      - spec: m4@1.4.16
        prefix: /usr
    perl:
      buildable: false
      externals:
      - spec: perl@5.16.3
        prefix: /usr
    pkg-config:
      buildable: false
      externals:
      - spec: pkg-config@0.27.1
        prefix: /usr
    readline:
      buildable: false
      externals:
      - spec: readline@6.2
        prefix: /usr
    tar:
      externals:
      - spec: tar@1.26
        prefix: /usr
      buildable: false

    # External dependencies for SCR
    lsf:
      buildable: False
      externals:
      - spec: lsf@10.1
        prefix: /opt/ibm/spectrumcomputing/lsf/10.1
    slurm:
      buildable: false
      externals:
      - spec: slurm@20
        prefix: /usr
    libyogrt:
      buildable: false
      externals:
      - spec: libyogrt@1.0.0 scheduler=lsf
        prefix: /usr
      - spec: libyogrt@1.0.0 scheduler=slurm
        prefix: /usr
    pdsh:
      buildable: false
      externals:
      - spec: pdsh@2.33
        prefix: /usr

    # Globally lock version of third party libraries
    camp:
      require: "@2023.06.0"
    conduit:
      require: "@0.8.8~shared~test~examples~utilities"
    hdf5:
      variants: ~shared~mpi
    hypre:
      version: [2.24.0]
    mfem:
      require: "@4.5.2"
    raja:
      require: "@2023.06.0~shared~examples~exercises"
    scr:
      require: "@3.0.1~shared~tests~examples"
    umpire:
      require: "@2023.06.0~shared~examples"

    # Globally lock in versions of Devtools
    cmake:
      version: [3.21.1]
      buildable: false
      externals:
      - spec: cmake@3.21.1
        prefix: /usr/tce/packages/cmake/cmake-3.21.1
    cppcheck:
      version: [2.9]
      buildable: false
      externals:
      - spec: cppcheck@2.9
        prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib_p9/latest/cppcheck-2.9
    doxygen:
      version: [1.8.14]
      buildable: false
      externals:
      - spec: doxygen@1.8.14
        prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib_p9/latest/doxygen-1.8.14
    graphviz:
      version: [7.1.0]
      buildable: false
      externals:
      - spec: graphviz@7.1.0
        prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib_p9/latest/graphviz-7.1.0
    llvm:
      version: [10.0.0]
      buildable: false
      externals:
      - spec: llvm@10.0.0+clang
        prefix: /usr/tce/packages/clang/clang-10.0.0
    python:
      version: [3.10.10]
      buildable: false
      externals:
      - spec: python@3.10.10
        prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib_p9/latest/python-3.10.10
    py-shroud:
      version: [0.12.2]
      buildable: false
      externals:
      - spec: py-shroud@0.12.2
        prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib_p9/latest/python-3.10.10
    py-sphinx:
      version: [6.1.3]
      buildable: false
      externals:
      - spec: py-sphinx@6.1.3
        prefix: /collab/usr/gapps/axom/devtools/blueos_3_ppc64le_ib_p9/latest/python-3.10.10
